<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  
  <MsmqTransportConfig MaxRetries="5" NumberOfWorkerThreads="1" />
</configuration>